@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("images/bg4.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-position: center; */
}

/* ----------------------header---------------------- */

header {
  /* background-color: brown; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background: linear-gradient(180deg, #000c1e -20%, #01302e00);
}

.logo {
  width: 13vw;
  z-index: 150;
  /* margin: 20px; */
}
.nav a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.1em;
  margin-left: 40px;
  z-index: 150;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 4px;
  background: white;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav .loginbtn {
  width: 130px;
  height: 50px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.1em;
  margin-left: 40px;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.nav .loginbtn:hover {
  background: whitesmoke;
  color: #303c71;
}

/* ----------------------entry body---------------------- */

.bodywrapper {
  /* background-color: brown; */
  /* width: 100%; */
  height: 500px;
  position: relative;
  top: 90px;
  display: flex;
  z-index: 100;
}
.slogan {
  color: aliceblue;
  font-size: 3vw;
  font-weight: 600;
}

.p1 {
  position: relative;
  top: 8%;
  left: 17%;
}
.p2 {
  position: relative;
  top: 10%;
  left: 24%;
}
.searchgroup {
  position: relative;
  top: 12%;
  left: 17%;
  height: 30vh;
  /* background-color: #303c71; */
}

.searchgroup button {
  position: relative;
  top: 0;
  width: 32.2vw;
  height: 8vh;
  border-radius: 15px;
  background-color: white;
  border: 0;
  cursor: pointer;
}
.searchbar {
  display: flex;
  align-items: center;
  justify-items: center;
}
.searchicon {
  position: relative;
  left: 20px;
}
.searchtext {
  position: relative;
  left: 40px;
  font-size: 2vw;
  color: slategrey;
}
.symbalwrapper {
  margin-top: 10px;
  display: flex;
}
.symbol {
  display: flex;
  background-color: rgba(60, 60, 60, 0.858);
  border-radius: 4px;
  align-items: center;
  width: 11vw;
  margin: 0px 10px;
  padding: 0px 10px;
}
.symbol a {
  display: flex;
  height: 3vh;
  width: 3vw;
  align-items: center;
  justify-content: center;
}

.symbolinfo {
  margin: 10px 10px;
  font-size: 1.1vw;
  position: relative;
}
.animationblock {
  width: 6.5vw;
  height: 3vh;
  overflow: hidden;
  /* float: left; */
}
.symbolvalue {
  animation: swip 4s linear infinite;
}
.symbolpercent {
  animation: swip 4s linear infinite;
}

@keyframes swip {
  0%,
  43%,
  100% {
    transform: translateY(0);
  }
  50% {
    animation-timing-function: steps(1);
    transform: translateY(-100%);
  }
  95% {
    transform: translateY(100%);
  }
}

.app {
  position: absolute;
  right: 10%;
  object-fit: contain;
}
.app img {
  object-fit: contain;
  width: 40vw;
}

/* ----------------------search header---------------------- */
.headersearch {
  visibility: hidden;
  background: #656565e6;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
}
.headersearch span {
  background-color: #e1fff75c;
  border: 1px;
  width: 31vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.formcontainer {
  display: flex;
  /* background-color: #6782f9; */
  /* align-items: center;
  justify-content: center; */
}
.headersearch button {
  /* background-color: transparent; */
  border: 0;
  width: 2vw;
  background-color: transparent;
  font-size: 30px;
  margin: 5px;
}
.headersearch input {
  color: #ffffff;
  background-color: transparent;
  border: 0px;
  font-size: 20px;
  width: 23vw;
  padding: 2px;
  margin: 5px 5px;
  outline: none;
}

.headersearch ::placeholder {
  color: aliceblue;
}

.formcontainer button ion-icon {
  font-size: 30px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.formcontainer button {
  font-size: 21px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  border: 0px;
  color: aliceblue;
}

/* ----------------------search body wrapper---------------------- */
.bodywrappersearch {
  visibility: hidden;
  height: 99vh;
  width: 100%;
  background-color: #b4d2ff50;
  position: absolute;
  top: 90px;
  display: flex;
  z-index: 200;
  align-items: center;
  justify-content: center;
}

.search_list_container {
  position: absolute;
  top: 0;
  width: 40vw;
  height: 60vh;
  border-radius: 10px;
  background-color: #666666;
  z-index: 250;
}
.categories {
  height: 7vh;
  width: 90%;
  background-color: transparent;
  display: flex;
  align-items: center;
  margin: 5px 10px;
}

.tag {
  font-size: 1.3rem;
  height: 5vh;
  border-radius: 7px;
  padding: 5px 10px;
  margin: 0px 5px;
  color: #000000;
  background-color: rgb(217, 252, 223);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag:active {
  background-color: #000000;
}
.divide_line_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.divide_line {
  border-radius: 5px;
  height: 4px;
  width: 100%;
  background-color: #ffffff;
  margin: 0px 10px;
}

.share_list_container {
  height: 49.5vh;
  background-color: rgb(68, 147, 147);
  margin: 10px 5px;
  border-radius: 7px;
}

.share {
  display: flex;
  /* position: relative;
  top: 0; */
  height: 4vh;
  background-color: transparent;
  border-bottom: 2px solid rgb(250, 250, 250);
  margin: 2px;
  font-size: 1rem;
}
.share > span {
  display: flex;
  align-items: center;
  padding: 5px;
}
